<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Nueva Ciudad</h5>

    <div class="mb-3">
      <label class="form-label">Nombre de la Ciudad</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="cityName"
      >
    </div>

    <div class="mb-3">
      <label class="form-label">País</label>

      <select
        class="form-select"
        [(ngModel)]="selectedCountryId"
      >

        <option [ngValue]="0">Seleccione un país</option>

        @for (country of countries; track country) {
          <option [ngValue]="country.id">
            {{ country.name }}
          </option>
        }

      </select>
    </div>

    <button
      class="btn btn-primary me-2"
      (click)="onSave()"
      [disabled]="cityName === '' || selectedCountryId === 0"
    >
      Guardar
    </button>

    <button
      class="btn btn-secondary"
      (click)="onCancel()"
    >
      Cancelar
    </button>

  </div>
</div>